/*Variables*/

$linesHeight: 10px;

/*Mixins*/

@mixin uploadBorder($radius, $style) {
    border: 1px dashed #bdbdbd;
    border-style: $style;
    border-radius: $radius;
}


/*Animations*/

.animate-height {
    transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    /*//height: 556px;*/
}

.animate-height.collapse-height {
    height: 67px!important;
}

.auto-invest-padd-container {
    background: #fff;
    padding: 40px 0 0px;
    text-align: left;
    .ib-container {
        .tenure-container {
            margin: 50px 0 38px;
        }
        .rate-container {
            margin: 30px 0;
        }
    }
}

#lenderInfoModal {
    text-align: left;
}

.portfolio-section {
    .portfolio-sec {
        padding-top: 106px;
        text-align: center;
        .portfolio-row {
            margin: 94px auto 112px;
        }
        .portfolio-empty {
            height: 521px;
            border: 4px dashed #fff;
            display: table;
            width: 100%;
            .wrapper {
                display: table-cell;
                vertical-align: middle;
                p {
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }
    .ib-container {
        background-color: #fff;
        padding: 5px 9px 20px;
    }
    .skip-link {
        margin-top: 122px;
        float: left;
        text-align: center;
        width: 100%;
        font-size: 20px;
        text-decoration: underline;
        cursor: pointer;
    }
}
.auto-invest-pool{
    .pool-container {
        height: 518px;
        margin-bottom: 0px;
    }
}

.pool-container {
    height: 556px;
    background-color: #fff;
    padding: 5px 9px 20px;
    text-align: center;
    margin-bottom: 25px;

    &.collapse-height {
        padding: 5px 9px;
    }
    .pool-wrapper{
        position: relative;
        height: 93.5%;

        >div {
            text-align: left;
        }
    }

    h3 {
        margin-left: 9px;
        text-align: left;
        position: relative;
        i {
            position: absolute;
            right: 17px;
            font-size: 18px;
            cursor: pointer;
        }
    }
    h5 {
        font-size: 18px;
        font-family: $HelveticaNeueregular;
    }
    p {
        font-size: 18px;
        margin: 0 0 2px;
        font-family: $HelveticaNeuemedium;
        display: inline-block;
    }
    .borrower-empty{
        img{
            width: 20%;
            margin: 0 auto;
        }
        p{
            font-size: 14px;
            margin: 15px auto 0;
            padding: 0 30px;
            display: block;
            color: #404040;
            text-align: center;
        }
    }
    
    .dropdown-menu {
        border-radius: 4px;
        box-shadow: none;
        margin-left: 13px;
        width: auto;
        background: #404040;
        font-family: $HelveticaNeuelight;
        padding: 5px;
        &:before {
            content: "";
            border-right: 10px solid #404040;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            position: absolute;
            top: 9px;
            left: -10px;
            z-index: 10;
        }
        &:after {
            content: "";
            border-right: 12px solid #ccc;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            position: absolute;
            top: 7px;
            left: -13px;
            z-index: 9;
        }
        .divider {
            background-color: #535353;
            margin: 5px 0;
        }
        &>li {
            &> a {
                color: #fff;
                &:hover,
                &:active {
                    color: #fff;
                    background-color: #535353;
                }
                i {
                    color: #ee3224;
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }
    }
    .borrower {
        height: 43%;
        overflow-y: auto;
        float: left;
        width: 100%;
        margin: 10px 0;
        i {
            margin-right: 10px;
            color: #c5c5c5;
        }
        .details i {
            margin-right: 3px;
            font-size: 16px;
        }
    }
    
    .invest-text {
        font-size: 16px;
        color: #c5c5c5;
        margin-top: 10px;
        float: left;
        width: 100%;
        text-align: center;
        span {
            position: relative;
        }
        span:before,
        span:after {
            content: "";
            position: absolute;
            border-top: 1px solid #c5c5c5;
            width: 100%;
            height: $linesHeight;
            top: 50%;
        }
        span:before {
            content: "";
            right: 100%;
            margin-right: 15px;
        }
        span:after {
            left: 100%;
            margin-left: 15px;
        }
    }
    .ib-amountbox {
        width: 100%;
        margin: 5px 0;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        padding: 5px 10px;
        display: inline-block;
        overflow: hidden;
        .fa-inr {
            float: left;
            font-size: 21px;
            padding: 0 8px 0 10px;
            margin-top: 2px;
        }
        p, .input-text{
            font-size: 24px;
            line-height: 1;
            margin: 0px;
        }

        .input-text{font-family: $HelveticaNeuemedium; font-size: 23px;
             border:0; 
             padding: 0; 
             margin: 0; 
             display: inline-block; 
             width:110px;}
    }
    .ib-risk {
        margin-left: 8px;
        color: #d3c729;
    }
    .text-greyed {
        color: #bdbdbd;
    }
    .ib-riskmeter {
        padding: 0;
    }
    .borrower-container {
        float: left;
        width: 100%;
        padding: 4px 3px 7px 8px;
        border: 1px solid #c5c5c5;
        /* border-left: 1px solid #c5c5c5;
		border-right: 1px solid #c5c5c5; */
        border-bottom: 2px solid #ee3224;
        margin-bottom: 8px;
        span {
            margin-right: 12px;
        }
        .flyout-menu {
            float: right;
            padding: 4px 0;
            width: 25px;
            text-align: center;
            cursor: pointer;
            font-size: 24px;
            i {
                margin-right: 0;
            }
        }
    }
}


/***Borrower Info styles***/

#lenderInfoModal {
    .dob-group > div {
        float: left;
    }
    .uploadFileDrop {
        @include uploadBorder(5px, dashed);
        padding: 13px 10px 5px;
        font-size: 14px;
        color: #b8b8b8;
        i {
            float: left;
            @include uploadBorder(0px, dashed);
            padding: 3px;
            margin-right: 9px;
        }
        p {
            margin-top: -8px;
            margin-bottom: 0;
        }
    }
    .browsebtn {
        @include uploadBorder(50px, solid);
        text-align: center;
        padding: 10px 0;
        cursor: default;
    }
    .no-padding {
        padding: 0;
    }
    .center-text {
        line-height: 48px;
        text-align: center;
    }
    .help-text {
        margin-top: 20px;
        float: left;
        width: 100%;
        font-size: 14px;
        color: #bdbdbd;
    }
    .filename-wrap{
        float: left;
        width: 100%;

        p{
            float: left;
            font-size: 12px;
        }

        .delBut{
            background-color: #5d5d5d;
           border: 0px none;
           border-radius: 50%;
           color: #d3d3d3;
           font-size: 10px;
           height:17px;
           line-height: 17;
           margin-left: 10px;
           text-align: center;
           width: 17px;
           position: relative;

               i{
                   position: absolute;
                   top: 4px;
                 left: 4px;
               }
        }
       }
       .btn-continue{
         background-color: #303030;
         color: #fff;
         text-transform: uppercase;
         padding: 6px 25px;
         &:hover{

         }
       }
}
