/*Variables*/

/*Mixins*/

#borrowerAmountModal{

    h3{
       font-family: $HelveticaNeuemedium;
       color: #333233;
       margin-top: 0px;
    }
    &.login-signup-modal .r-col{
    	max-height: 500px;
        min-height: 305px;
    }
	.invest-table-wrapper{
		max-height: 341px;
		overflow: auto;
		margin-top: 3px;

		.invest-amt-error-msg{
			color: #ee3224;
            font-size: 13px;
            text-align: center;
		}

		.invest-table{
			/*display: table;*/
			width: 100%;
			border-collapse: separate;
			border-spacing: 10px 50px;

			.invest-table-row{
			   /*display: table-row;*/
			}

			.invest-table-column{
			   /*display: table-cell;*/
			   border: 1px solid #bdbdbd;
			   text-align: center;
			   padding: 10px 0px;
			   color: #303030;
			   cursor: pointer;
			   border-radius: 5px;
		       /*margin-right: 5px;*/

			   &:first-child{
			     border: none;
			     text-align: left;
			     padding: 10px 0;
			     cursor: default;
			   }
			   &.active{
			     background-color: #ee3224;
			     color: #fff;
			     border-color: #ee3224;
			   }

			   p{
			      margin: 0;
			      font-size: 14px;
			      font-family: $HelveticaNeuemedium;
			   }
			}
		}
	}

	.nav-buttons{
		margin-top: 20px;
		text-align: center;

		button{
		  width: 177px;
		  text-transform: uppercase;
		  font-family: $HelveticaNeuebold;
		  border-radius: 5px;
		}

		.btn-cancel{
		   background-color: #fff;
		   border: 2px solid #c0c0c0;
		   color: #303030;

		   &:hover{
		      color: #303030;
		   }
		}
		.btn-next{
		   background-color: #303030;
		   border: 2px solid #303030;
		   margin-left: 15px;
		}
	}

}
