/* ==========================================================================
   iPhone 5 and below mobile devices media query for 320x480 viewport devices
   Right after iPhone 6 media queries
   ========================================================================== */

@media screen and (min-width: 320px) and (max-width: 480px) {
    header {
        .head-top {
            img {
                height: 38px;
                margin-top: 11px;
            }
        }
    }
    .app-section {
        .app-content {
            .app-content-inner__child {
                .padd-top-40 {
                    padding-top: 5px;
                }
                .padd-top-90 {
                    padding-top: 20px;
                }
                .bullet-points {
                    font-size: 15px;
                    line-height: 18px;
                    /*font-weight: 700;*/
                }
                .fa-check {
                    margin-top: -3px;
                }
                #home-sec {
                    background-size: 147%;
                    padding: 20px 0px 40px;
                    h1 {
                        font-size: 25px;
                        line-height: 32px;
                        font-weight: 600;
                    }
                    h2{
                        font-size: 22px;
                    }
                    h6 {
                        font-size: 17px;
                        font-weight: lighter;
                    }
                    /*.bullet-points {
                        color: #475455;
                    }*/
                }
                #graph-sec {
                    h1 {
                        font-size: 25px;
                        line-height: 32px;
                    }
                    .background-img {
                        display: none;
                    }
                    .bar-data-value {
                        top: -60px;
                        font-size: 5px;
                        line-height: 7px;
                        margin-left: -8px;
                        padding-left: 5px;
                        padding-bottom: 14px;
                        span {
                            font-size: 7px;
                            line-height: 10px;
                        }
                    }
                    .graph-container {
                        margin: 50px 0 0 0px;
                    }
                    img {
                        display: none;
                    }
                    .inflation-line {
                        width: 100%;
                        top: 255px;
                        font-size: 6px;
                        text-indent: 5px;
                    }
                }
                #scoring-model-sec {
                    h1 {
                        font-size: 25px;
                        line-height: 32px;
                    }
                }
                #infographic-sec {
                    padding-bottom: 90px;
                    text-align: center;
                    h1 {
                        font-size: 25px;
                        line-height: 32px;
                    }
                    h6 {
                        font-size: 18px;
                        line-height: 25px;
                        padding-bottom: 10px;
                        padding-top: 0px;
                    }
                    span {
                        font-size: 12px;
                        line-height: 20px;
                        display: block;
                    }
                    .carousel-indicators > li:nth-child(1),
                    .carousel-indicators > li:nth-child(2),
                    .carousel-indicators > li:nth-child(3) {
                        margin-right: 0;
                    }
                    .carousel-indicators li::after {
                        width: 15%;
                        border: none;
                    }
                    .carousel-indicators {
                        bottom: -60px;
                    }
                    .padd-top-90 {
                        padding-top: 0px;
                    }
                    .carousel-indicators li {
                        font-size: 18px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
    footer {
        .footer-menu {
            width: 100%;
            li a {
                padding: 2px 0px;
            }
        }
        .nav>li {
            position: relative;
            display: inline-block;
        }
        .social-links {
            text-align: center;
        }
        .copyright {
            margin: 10px 0;
        }
    }
    /* contact us page */
    .contact-us-section {
        .contactus-wrapper {
            width: 95%;
        }
        /*.socialmedia-sec{width: auto;}*/
    }
    #faq-content .panel-title {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 425px) {
    footer .circle-btn {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }
    #borrowerAmountModal .nav-buttons button {
        width: 35%;
        padding: 8px 0;
        font-size: 12px;
    }
    table.dataTable.dtr-inline.collapsed tbody td:first-child:before, table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
        top: 28px;
    }
    .table-data-parent .dataTables_wrapper.no-footer .dataTables_scrollBody .borrower-table {
        border-collapse: collapse;
        tr {
            border-top: 2px solid #f1f1f1;
        }
        .child{
            text-align: left;
            border-top: 0px;
            background: #fff;
            ul{
                width: 100%;
                li{
                    float: left;
                    width: auto;
                    border-bottom: none;
                    padding: 0;
                    margin-right: 15px;
                    margin-bottom: 5px;
                    > span{
                        float: left;
                        padding-left: 2px;
                    }
                    span div{
                        text-align: center;
                    }
                }
            }
        }
    }
    .invest-func-sec .btn-primary {
        padding: 4px 10px;
        font-size: 10px;
        margin-left: 8px;
        border-radius: 12px;
    }
    .invest-func-sec p {
        font-size: 13px;
        line-height: 26px;
    }
    #auto-invest-sec .one-forth-box {
        padding: 20px;
        text-align: left;
    }
    .mar-neg-10 {
        margin-top: 10px;
    }
    .login-signup-modal .modal-dialog {
        width: 95%;
    }
    .nav-tabs > li > a {
        padding: 10px 25px;
    }
    .tab-abov {
        display: none;
    }
    .login-signup-modal .modal-close-icon {
        right: 10px;
        font-size: 22px;
    }
    h1, h2 {
        font-family: "HelveticaNeuelight";
        font-size: 22.5px;
    }
    .panel-heading {
        padding: 5px 10px;
    }
    .faq-section .panel-group .panel-heading .panel-title {
        font-size: 16px;
    }
    .faq-section .panel-group .panel-heading a {
        padding: 10px 2px 10px 4px;
    }
    .app-section .app-content .app-content-inner__child #infographic-sec {
        padding-bottom: 25px;
        img {
            width: 65%;
        }
        h6 {
            text-align: center;
            font-size: 19px;
        }
        span {
            text-align: center;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 5px;
        }
        .btn-round-corner {
            margin-top: 55px;
        }
        .mob {
            display: block;
        }
    }
    .graph-container {
        font-size: 0.26em;
    }
    #home-sec {
        background-image: none;
        padding: 20px 0px 40px;
        h1 {
            font-size: 25px;
            line-height: 32px;
        }
    }
    /*Auto invest page*/
    .pool-container{
        .ib-amountbox {
            p,.fa-inr{
                font-size: 19px;
            }
        }
        .invest-text span{
            &:before,&:after{
                width: 74%;
            }

        }
    }
    /*Invest Widget*/
    .ib-container .rate-container .rate-item{
        margin-right: 3px;
    }
}

@media screen and (max-width: 375px) {
    #lenderInfoModal .l-col, #lenderInfoModal .r-col {
        padding: 20px 10px;
    }
    #lenderInfoModal .nav-tabs > li > a {
        padding: 10px 12px;
    }
    .graph-container {
        font-size: 0.22em;
    }

    /*Auto invest page*/
    .pool-container{
        .invest-text span{
            &:before,&:after{
                width: 74%;
            }

        }
         /*.borrower-empty p{
            width:80%;
        }*/
    }
}

@media screen and (max-width: 320px) {
    .graph-container {
        font-size: 0.18em;
    }
    header .head-top img {
        height: 26px;
        margin-top: 20px;
    }
     /*Auto invest page*/

     .portfolio-row >div{
            padding: 0;
        }
    .pool-container{
        .borrower-container{
            padding: 4px 0px 7px 5px;
        }
        .toggle-risk-data{
            padding: 0;
        }
        h5{
           margin-left: 12px;
            font-size: 15px; 
        }
        .ib-amountbox{
            margin-left: 12px;
            font-size: 15px;
            p,.fa-inr{
                font-size: 15px;
            }
            .fa-inr{
                margin-top: 4px;
            }
        }
        .invest-text span{
            &:before,&:after{
                width: 53%;
            }

        }
         /*.borrower-empty p{
            width:85%;
        }*/

    }
    .table tr>th:nth-child(3) img{
       width:27%;
    }
}


/* For devices less then ipad potrait view*/

@media screen and (max-width: 767px) {
    header {
        min-height: 0;
        .navbar-default {
            background: #fff;
            .navbar-header {
                float: none;
                padding: 5px 0px;
                .navbar-toggle {
                    margin-left: 15px;
                    left: 0;
                    padding: 4px 10px;
                    border: 0;
                    outline: 0;
                    position: absolute;
                    .icon-bar {
                        background-color: #bdc3c7;
                        display: block;
                        width: 22px;
                        height: 3px;
                        border-radius: 0px;
                    }
                }
                a {
                    .logo-xs {
                        width: 180px;
                    }
                    .log-img-xs {
                        width: 20px;
                    }
                }
                .log-xs {
                    position: absolute;
                    right: 20px;
                    margin-top: 14px;
                }
            }
            .navbar-nav {
                margin: 0;
                &> li {
                    border: 0;
                    border-top: 1px solid #d3d3d3;
                    min-height: 0;
                    
                    &> a {
                        font-family: $HelveticaNeueregular;
                        color: #333333;
                        margin: 10px 25px;
                        font-size: 16px;
                        &> img {
                            width: 20px;
                            margin-right: 15px;
                        }
                        &:hover {
                            color: #333333;
                        }
                    }
                    .menu-icon {
                        padding-left: 10px;
                    }
                    &.active{
                        /*background-color: #ee3224;*/
                        border-bottom: 0px solid #ee3224;
                    }
                    &.active>a, &.active>a:focus, &.active>a:active,&.active>a:link{
                        color: #333333;
                        background-color: transparent;
                    }
                }
            }
        }
    }

     /*Auto invest page*/
     .portfolio-section {

     }
    .portfolio-section{
        .portfolio-sec{
            .portfolio-row{
                margin: 50px auto;
            }
            .portfolio-empty{
             margin-top: 20px;
          }
        }
        .skip-link{
            margin-top: 30px;
        }
    }
    .auto-invest-pool{
          .pool-container{
            margin-top: 20px;
            height: 100%;
            width: 100%;
            float: left;
          }
           .borrower{
            height: 46%;
           }
        } 
     /*Payment Page*/
    .payment-sec{
        .payment-details-sec{
            .bank-details-sec{
                height: auto;
            }
            p.temp-accnt{
                margin-top: 26px;
            }
        }
        .cart_empty{
            margin-top: 27px;
        }
    } 

    .modal-code-conduct{
        .modal-dialog{
            width:90%;
            margin: 18px;
        }
        
    }
}
