	<!-- <div class="wrapper b-t bg-light">
        <span><a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span> &copy; 2016 LoanSingh.
	</div> -->

	<div class="container">
        <div class="col-lg-12  nopadding">
            <div class="col-lg-offset-2 col-lg-8 col-md-8  col-sm-8">
                <ul class="nav navbar-nav footer-menu">
                    <li><a href ng-link="['AboutUs']">About us</a></li>
                    <li><a href ng-link="['PrivacyPolicy']">Privacy Policy</a></li>
                    <li><a href ng-link="['ContactUs']">Contact us</a></li>
                    <li><a href ng-link="['FAQ']">FAQ</a></li>
                    <li><a href ng-link="['TermsConditions']">Terms &amp; Conditions</a></li>
                </ul>
                <div class="copyright">© 2016 Loan Singh</div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 nopadding">
                <div class="social-links">
                    <a href='https://www.facebook.com/loansingh/' target='_blank'><span class="circle-btn"><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                    <a href='https://twitter.com/loan_singh' target='_blank'><span class="circle-btn"><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                    <a href='https://plus.google.com/u/0/113051121304876348815' target='_blank'><span class="circle-btn"><i class="fa fa-google-plus" aria-hidden="true"></i></span></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>