<div class="app-section fade-in-up ng-enter ng-enter-active">
    <article class="app-content">
        <div class="app-content-inner__child clearfix">
            <section class="container static-container about-us-section">
                <!-- <h1 class="text-center">About us</h1> -->
                <p class="padd-top-40">Loan Singh is a digital peer to peer lending platform which connects lenders who can lend to credit worthy but underserved borrowers. In return for the loan, lenders earn lucrative interest rates.</p>
                <p>Loan Singh provides value added services like risk assessment and verification to ensure the quality of borrowers.</p>
                <p><a href ng-link="['HowItWorks']">Click here</a> for more details on how it works</p>
                <div class="row profile-container">
                    <div class="col-xs-12 col-md-6 padd-top-40">
                       <img src="../img/vinod.jpg" class="pull-left profile-img" /> 
                       
                       <div class="bec">
                           <h3>Vinod Easwaran</h3>
                           <h5>Chief Operating Officer</h5>
                           <p>Vinod across two decades in financial services has headed personal and vehicle lending (book size $1.5 and $4 billion) at ICICI Bank, set up and led their retail business in Russia across 3 years (member of the Executive Board) and was part of the India founding team for Beiqi Foton Motors, a China-based Fortune 500 company.</p>
                       </div>
                    </div>


                    <div class="col-xs-12 col-md-6 padd-top-40">
                       <img src="../img/siddharth.jpg" class="pull-left profile-img" /> 

                       <div class="bec">
                           <h3>Siddharth Misra</h3>
                           <h5>VP, Operations</h5>
                           <p>Siddharth started at pioneering company SKS Microfinance, then founded his own NBFC, worked at financial inclusion company Eko, then headed Operations at food-delivery company Travel Khana.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row profile-container">

                    <div class="col-xs-12 col-md-6 padd-top-40">
                       <img src="../img/vijay.jpg" class="pull-left profile-img" /> 

                       <div class="bec">
                           <h3>Vijay Natarajan</h3>
                           <h5>Product Director</h5>
                           <p>Vijay Natarajan went to IIT (Delhi) and IIM (Calcutta) and first worked at conventional companies like American Express and ICICI before turning entrepreneurial, becoming co-founder of two Fintech companies.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 padd-top-40">
                       <img src="http://placehold.it/95x95" class="pull-left profile-img" /> 

                       <div class="bec">
                           <h3>Manish</h3>
                           <h5>Technology Head</h5>
                           <p></p>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </article>
</div>
