<div class="app-section fade-in-up ng-enter ng-enter-active">
    <article class="app-content">
        <div class="app-content-inner__child clearfix">
            <section class="container static-container faq-section">
                <h1 class="text-center">Frequently Asked Questions</h1>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1"><span class="faq-text">What products does Loan Singh offer? 
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">To begin with, we are offering retail unsecured loans. We provide customized solutions for segments where the present generation is underserved, to fulfill their fund requirements. As a starting segment, we are specifically giving loans for professional certification courses. Do circle back for more updates and upgrades. We are just getting started!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"><span class="faq-text">What is the role of Loan Singh in each transaction?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">Loan Singh is a P2P Lending marketplace that matches people with idle cash in their accounts to people with financial needs. Loan Singh performs a credit analysis of borrowers before introducing them to lenders. Loan Singh is just the facilitator of the transaction and is not involved in the transaction in any manner.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"><span class="faq-text">How is Loan Singh different from other P2P platforms? 
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Loan Singh offers quick registration with minimum documentation. The process is seamless and completely online. We employ a unique ‘purpose specific’ approach to acquire borrowers, reducing risk considerably and borrowers are evaluated on multiple parameters to ensure creditworthiness. Lenders are provided with 24X7 support for any queries. We conduct timely follow ups for EMI collections/confirmations and provide our lenders with personalized services on loan portfolio management. We are also underway to implement an innovative fund flow technique through which you can make multiple investments through one transaction and receive a consolidated payment for all your EMIs!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4"><span class="faq-text">Why should lenders divide their portfolio among many borrowers?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">Dividing portfolio among many borrowers will help you distribute risk and protect your investment against any possible default due to unforeseen circumstances.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5"><span class="faq-text">Can I opt for part lending of a borrower’s requirement?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">Yes, we allow part funding for loans greater than Rs 50,000. You can view and select available funding options for the loans at the time of investment.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse6"><span class="faq-text">Is my money 100% safe? And are the returns guaranteed?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse6" class="panel-collapse collapse">
                            <div class="panel-body">Before selecting any borrower, Loan Singh conducts a detailed analysis on the profile, background, financial position and trust-worthiness of the borrower. However, there is still a risk involved wherein the borrower may default due to some unforeseen circumstances. We recommend that investors consider a diversified portfolio of investments for risk hedging purposes. So, Yes! We have checks and balances in place to minimize the chances of default
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse7"><span class="faq-text">Am I investing directly in a borrower or am I giving money to your company?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse7" class="panel-collapse collapse">
                            <div class="panel-body">Loan Singh assists you to directly transfer the loan amount to the required bank account (borrower or to the educational institute). No monies are kept with Loan Singh at any point during the transaction.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse8"><span class="faq-text">How are you able to pay such high rate of interest? Does this mean you charge end-borrowers very high interest rates?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse8" class="panel-collapse collapse">
                            <div class="panel-body">In a traditional bank driven lending set-up, banks typically raise deposits from retail investors – these could be in the form of Current and Savings Accounts (CASA), or fixed deposits. As you’re probably aware, bank interest rates earn you very little, with interest rates in single digits (4% +) and a maximum taxation slab of 33% on interest earned. The bank then finds opportunities to lend the same money to individuals at higher rates. We have simplified the process, moving the borrowers directly to you and eliminating the need for you to lend to the bank and then the bank lending to this segment.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse9"><span class="faq-text">Do high returns indicate a higher risk than normal fixed deposits and other mutual fund schemes?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse9" class="panel-collapse collapse">
                            <div class="panel-body">Principally that is correct in the world of finance. A higher rate of return is typically associated with an exposure to higher risks. While the P2P lending is riskier than Bank deposits, Loan Singh’s detailed credit analysis of borrowers enables us to minimize that risk and offer commensurate returns
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse10"><span class="faq-text">How do I know if the borrowers are real and not fictitious?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse10" class="panel-collapse collapse">
                            <div class="panel-body">All borrowers posted on our website are genuine, actual people. We verify their identity, address, background, social media presence, bank details and financial position, besides speaking directly with the borrower. All KYC evidence is stored by Loan Singh as part of our standard compliance procedure for Borrower KYC.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse11"><span class="faq-text">What is the difference between reducing balance interest and flat rate interest?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse11" class="panel-collapse collapse">
                            <div class="panel-body">At a flat rate, the interest rates are calculated keeping the outstanding amount (i.e. the amount on which interest is calculated) constant throughout the loan tenure while in a reducing balance loan the interest rate is recalculated on a periodic basis based on the reducing outstanding loan amount. Please refer to our EMI calculator to know EMI amount for your investment.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse12"><span class="faq-text">How is repayment on loan different from repayment on Fixed Deposits/Mutual Funds? 
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse12" class="panel-collapse collapse">
                            <div class="panel-body">At Loan Singh, your investment is repaid every month in the form of Equated Monthly Installment (EMI), comprising of interest and principal/capital invested proportionately. That means your interest income continues to flow in monthly and at the same time a part of your original investment also comes back. As opposed to this, with a Fixed Deposit your principal will be returned via a bullet repayment at the end of the tenure of investment. This method is largely followed by banks for fixed deposits and other savings instruments offered by them.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse13"><span class="faq-text">What will happen if the borrower chooses to prepay his loan?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse13" class="panel-collapse collapse">
                            <div class="panel-body">Currently we allow pre payments in full by the borrower, and do not charge any prepayment fees. As a Lender you have the opportunity to reinvest that money with another borrower to ensure continuous interest income.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse14"><span class="faq-text">Can I select my monthly repayment date?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse14" class="panel-collapse collapse">
                            <div class="panel-body">No, the repayment date is fixed as the 5th of every month. If the disbursement happens post the 20th of a month, we start your repayment from the subsequent month. We hope to offer more flexibility in future.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse15"><span class="faq-text">How will I be informed when my loan transaction is made?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse15" class="panel-collapse collapse">
                            <div class="panel-body">You will receive an SMS confirmation from Loan Singh once the money is credited in the borrowers account.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse16"><span class="faq-text">What will be the investment process? (To be implemented with new lenders website on July 31, 2016)
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse16" class="panel-collapse collapse">
                            <div class="panel-body">The investing process is simple and explained below: 1. Complete the 3 step sign up process with the help of a Loan Singh Associate 2. Log on to the Loan Singh website 3. Select your borrower from the Lender Dashboard 4. Disburse money in to designated account 5. Borrower is given your bank details for money transfer to ensure you receive EMIs on the 5th of each month
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse17"><span class="faq-text">Who can be a lender on Loan Singh?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse17" class="panel-collapse collapse">
                            <div class="panel-body">Any Indian citizen, 21 years or older, who has a valid PAN card and a savings/current bank account in India can become a lender on Loan Singh.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse18"><span class="faq-text">What types of borrowers are listed on the platform?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse18" class="panel-collapse collapse">
                            <div class="panel-body">The borrowers listed are 1. Indian citizens 2. Salaried individuals 3. Hold a valid PAN card
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse19"><span class="faq-text">What happens if the installment payment is delayed or defaulted?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse19" class="panel-collapse collapse">
                            <div class="panel-body">Loan Singh charges overdue interest of 6% p.a over and above the existing rate of interest on the total outstanding, for the period of delayed payment. The overdue interest will also be credited to the account of the lender.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse20"><span class="faq-text">How can the lender communicate with borrower about the loan?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse20" class="panel-collapse collapse">
                            <div class="panel-body">Once you have selected an eligible borrower, you can request additional details from Loan Singh using the relevant Borrower ID. We will be happy to provide you with the required information.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse21"><span class="faq-text">How secure is my information?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse21" class="panel-collapse collapse">
                            <div class="panel-body">For us, data security is of utmost priority. ALL of your data is kept strictly confidential and not shared with anyone without your consent.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse22"><span class="faq-text">Why do I have to give my bank account details?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse22" class="panel-collapse collapse">
                            <div class="panel-body">Once you have disbursed the loan amount, Loan Singh needs your bank account details to have the monthly EMIs credited to the same.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse23"><span class="faq-text">What are the documents required for lender registration?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse23" class="panel-collapse collapse">
                            <div class="panel-body">We need your 1. Pan Card 2. Valid Address Proof (Driving License or Passport or Aadhaar Card or Voter ID)
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse24"><span class="faq-text">Why was my registration request declined?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse24" class="panel-collapse collapse">
                            <div class="panel-body">Your registration request may have been declined due to error in data or lack of documentary proof. Please contact our customer service team at +91 83903 58545 for more details.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse25"><span class="faq-text">How can I delete my account on Loan Singh?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse25" class="panel-collapse collapse">
                            <div class="panel-body">We would be sorry to see you leave. Please connect with our customer support team at +91 83903 58545 or LS@loansingh.com so we can assist with your request.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse26"><span class="faq-text">Can I lend more than once?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse26" class="panel-collapse collapse">
                            <div class="panel-body">Yes, absolutely. You can lend to as many individuals as you like, depending on your investment appetite.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse27"><span class="faq-text">Is my interest income through Loan Singh taxable?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse27" class="panel-collapse collapse">
                            <div class="panel-body">All repayments you receive from borrowers on Loan Singh are without any tax deduction. Your earnings will be taxable as per the income tax rules applicable to you. We'll provide you an annual income statement on the Lender Dashboard for your convenience.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse28"><span class="faq-text">How long does it take to find Borrowers?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse28" class="panel-collapse collapse">
                            <div class="panel-body">New borrowers are verified and listed every day. Since Loan Singh is a live marketplace, you might find a borrower matching your preferences right away, or you may need to wait for a few days.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" data-target="#collapse29"><span class="faq-text">Can I be both, an Investor and a Borrower?
</span><span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></a></h4></div>
                        <div id="collapse29" class="panel-collapse collapse">
                            <div class="panel-body">Sorry, you can be either an Investor or a Borrower. </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>
</div>
