<div class="app-section fade-in-up ng-enter ng-enter-active">
    <article class="app-content">
        <div class="app-content-inner__child clearfix">
            <section id="set-pass-sec">
                <div class="container">
                    <div class="row">
                        <center><h2 ng-show="pwdCtrl.showCreateNewPwdPanel">Create your new password</h2></center>
                        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4 set-pass-box">
                            <form name="pwdCtrl.frmCreateNewPassword" class="create-new-password-panel" ng-show="pwdCtrl.showCreateNewPwdPanel" novalidate ng-submit="pwdCtrl.frmCreateNewPassword.$valid && pwdCtrl.submitCreatePassword()">
                                <div class="form-group">
                                    <label for="txtCreateNewPwd">New Password</label>
                                    <input type="password" class="form-control" name="txtCreateNewPwd" id="txtCreateNewPwd" ng-model="pwdCtrl.createPassword.newPassword" required />
                                    <div class="error-msg" ng-messages="pwdCtrl.frmCreateNewPassword.$submitted && pwdCtrl.frmCreateNewPassword.txtCreateNewPwd.$error">
                                        <div ng-message="required">Please enter new password</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtCreateConfirmNewPwd">Confirm New Password</label>
                                    <input type="password" class="form-control" name="txtCreateConfirmNewPwd" id="txtCreateConfirmNewPwd" ng-model="pwdCtrl.createPassword.confirmPassword" required match="pwdCtrl.createPassword.newPassword" />
                                    <div class="error-msg" ng-messages="pwdCtrl.frmCreateNewPassword.$submitted && pwdCtrl.frmCreateNewPassword.txtCreateConfirmNewPwd.$error">
                                        <div ng-message="required">Please enter new password</div>
                                        <div ng-message="match">Password does not match</div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button type="submit" class="btn btn-primary full-width ng-binding btn btn-modal-big pull-right" ng-disabled="pwdCtrl.frmCreateNewPassword.$submitted && pwdCtrl.frmCreateNewPassword.$invalid">Set Password</button>
                                </div>
                            </form>
                            <!-- /. create new password form end -->
                            <center><p ng-if="pwdCtrl.emailLinkExpired"> <img src="img/no-result-woo.png"/> <br/> Your link is expired.</p></center>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- app-content-inner__child end -->
    </article>
    <!-- app-content end -->
</div>
<!-- app-section -->
