<!-- for sub section/child components -->
<div class="app-section fade-in-up ng-enter ng-enter-active">
    <article class="app-content">
        <div class="app-content-inner__child clearfix">
            <section id="auto-invest-sec" class="table-data-parent invest-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 padd-top-90">
                            <div class="row">
                                <div class="col-sm-6 col-md-12 ">
                                    <div class="one-forth-box" id="step1">
                                        <invest-widget on-invest-now="investCtrl.buildPool(true)" button-text="CREATE" invest-text="investCtrl.investWidgetString" button-color="#404040" class="invest-sec"></invest-widget>
                                        <img class="ip-arrow-img" src="img/line.png" />
                                    </div>
                                    <!--  <p>{{100000.0005}}</p>
                                <p>{{100000.0808|awnum:'price'}}</p> -->
                                </div>
                                <div class="col-md-12 padd-top-40">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4 col-xs-12 scrollClass pull-right mar-neg-10" id="step2">
                                            <portfolio-pool-component createdpool="investCtrl.createdpool" userpref="investCtrl.userPref" investnow="investCtrl.investNow()" collapsible="true" changepoolpop="investCtrl.changePoolAmount(brwr)" deletepool="investCtrl.deleteFromPool(brwr)" show-risk-data="investCtrl.collapsePool"></portfolio-pool-component>
                                        </div>
                                        <div class="col-md-8 col-xs-12" id="step3">
                                            <div class="invest-func-sec">
                                                <div ng-show="investCtrl.borrowerNumber!=0">
                                                    <button type="button" class="btn btn-primary btn-pool pull-right" ng-click="investCtrl.addBorrowersToPool(false)" ng-disabled="investCtrl.borrowerNumber==0">ADD TO POOL</button>
                                                    <button type="button" class="btn btn-primary pull-right" ng-click="investCtrl.addBorrowersToPool(true)" ng-disabled="investCtrl.borrowerNumber==0">INVEST NOW</button>
                                                </div>
                                                <div ng-show="investCtrl.borrowerNumber==0">
                                                    <a class="btn btn-primary btn-pool pull-right" data-toggle="tooltip" title="Please select a borrower from the list">ADD TO POOL</a>
                                                    <a class="btn btn-primary pull-right" data-toggle="tooltip" title="Please select a borrower from the list">INVEST NOW</a>
                                                </div>
                                                <p class="pull-right"><span ng-bind="investCtrl.borrowerNumber"></span> Selected</p>
                                            </div>
                                            <!--Not going in current sprint - please dont delete-->
                                            <!-- <div class="carousel-view" ng-hide=true>
                                  <div id="borrower-view" class="owl-carousel">
                                     <div class="borrower-data item" ng-repeat="brwr in investCtrl.tableData">
                                          <div class="brwrName">
                                            <p><img src="img/profile_icon.png"/><span ng-bind="brwr.name"></span></p>
                                          </div>
                                          <div class="borrower-details">
                                            <div class="row">
                                              <div class="col-md-6">
                                                <img src="img/purpose_icon.png"/>
                                                <p>Purpose</p>
                                                <p ng-bind="brwr.purpose"></p>
                                              </div>
                                              <div class="col-md-6">
                                                <img src="img/rupee_icon.png"/>
                                                <p>Amount</p>
                                                <p ng-bind="brwr.loan_amount"></p>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-6">
                                                <img src="img/tenure_icon.png"/>
                                                <p>Tenure</p>
                                                <p ng-bind="brwr.tenure"></p>
                                              </div>
                                              <div class="col-md-6">
                                                <img src="img/interest_icon.png"/>
                                                <p>Interest</p>
                                                <p ng-bind="brwr.rate_of_interest"></p>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-md-9">
                                                <img src="img/status_icon.png"/>
                                                <p>Status</p>
                                                <p ng-bind="brwr.percent_invested"></p>
                                                <div class="status_wrapper"><p><span  ng-bind="brwr.percent_invested"></span> %</p><div class="progress progress-striped"><div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (brwr.percent_invested) + '%'}"></div></div><p>need <span ng-bind="brwr.remaining_amount"></span> more</p></div>
                                              </div>
                                              <div class="col-md-3">
                                              </div>
                                            </div>
                                          </div>
                                     </div>
                                  </div>
                                </div> -->
                                            <table id="investTable" datatable="" dt-options="investCtrl.dtOptions" dt-columns="investCtrl.dtColumns" dt-instance="investCtrl.dtInstance" class="borrower-table table datatable dt-responsive no-wrap" width="100%"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- app-content-inner__child end -->
    </article>
    <!-- app-content end -->
</div>
<!-- app-section -->
<borrower-amount-component selectedborrowers="investCtrl.selectedBorrowers" submit-amounts="investCtrl.submitedAmounts(borrowerArray,addToInvest)"></borrower-amount-component>
